@media (max-width: 768px) {
    .section4 .feature-box-detail h2 span {
        font-family: Montserrat_b;
        font-style: normal;
        font-weight: bold;
        font-size: 47px;}
    .section4 .feature-box-detail{
        padding: 10px !important;
    }
    .img_bg {
        /* display: flex; */
        width: 90px;
        margin: auto;
        /* justify-content: space-evenly; */
        background: linear-gradient(180deg, rgba(162, 240, 233, 0.546875) 0%, #055C54 100%), #055C54;
        box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0 16px;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }
  
        .carousel-item  .col-12:nth-child(odd){
            order: 2;
        }
        .carousel-item .col-12:nth-child(even){
            order: 1;
        }
   
    
    .episodes-listing .entry-content p, .post-listing .entry-content p {
        opacity: 0.75;
        font-size: 8px;
        /* text-align: justify; */
        /* text-align: center; */
    }
    .tab-container .tabs li a{
        font-size: 8px;
        padding: 0.2rem;
    }.tab-container .tabs li.active a:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 35px;}
    .categories a{
        font-size: 14px;
    }
    .xeber_time{
        font-size: 14px;
    }
    .xeber_etrafli{
        font-size: 14px;
    }
    .table th, .table td {
        border-top: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 17px !important;
        width: auto !important;
    }
    blockquote {
        position: relative;
        margin: 0; 
        padding-left: 0;
         padding-right: 0;
        line-height: 1.25;
    }
    .nesriyyat p {
        width: 95%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px !important;
        line-height: 186.9%;
        /* color: black; */
    }
    .nesriyyat:nth-child(odd) {
        background-color: #055f58;
        color: #fff;
        border-radius: 0%;
    }
    .range-slider__value {
        font-size: 20px;}
    .nesriyyat {
       padding: 10px;
    }
    .nesriyyat h3{
        font-size: 24px;
        text-align: center;
    }
    h1{
        font-size: 24px;
    }
    .nesriyyat p{
        font-size: 18px;
        text-align: center;
    }
    h5{
        font-size: 24px;
    }
    h4{
        font-size: 24px;
    }
    h3{
        font-size: 24px;
    }
    h2{
        font-size:24px ;
    }
    p{
        font-size: 20px;
    }
    .c{
        display: none;
    }
    .feature-box-detail h2 {
        text-align: center !important;
    }
    .section3 {
        width: auto;
        margin-left: auto;
        margin-right: 0;
        background: transparent;
        border-radius: 365px 0px 0px 365px;
        position: relative;
        z-index: 3;}
        .section4{
            background-color: transparent;
        }
        .xeber_basligii{
  
            border-radius: 65px 0px 0px 65px;
             margin: 15px auto;
             width: 90%;
             /* padding: 20px */
         }
         .strike_abs{
             display: none;
         }
     .feature-boxx p {
        display: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        /* text-align: center; */
        color: #e8e8e8;
        margin-left: 5px;
        /* margin-top: 6px; */
        /* height: 35px; */
    }
    .feature-boxx {
        display: flex;
        width:auto;
        margin:10px 0;
        justify-content: space-evenly;
        background:transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px 65px 0px 45px;
        padding: 0;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }
    .carousel-item-div {
        width: 95% !important;
        margin: 25px !important;
        transform: translateY(0%) !important;
    }
   
    .xeber_basligi_all {
        display: flex;
        flex-direction: column;
    }
    .xeber_basligi {
        /* background-color: #055f58; */
        width: 95%;
    }
    .section_5 .feature-box-detail h2 a {
        font-size: 40px;
        padding-top: 15px;
    }
   .feature-box-detail h2  {
      margin-top: 15px;
    }
    .feature-box-detail h2 a {
        font-size: 25px !important;
    }
    .section8 .xeber_basligi {
        border-radius: 35px 35px 35px 35px;
    }
    .section8 .xeber_basligi:nth-of-type(even) {
        border-radius: 35px 35px 35px 35px;
    }
    .wd-carusel__item {
        width: 100px !important;
        height: 100px !important;
    }
    .wd-carusel__item > img {
        max-height: 65px !important;
        display: block;
        max-width: 100px !important;
        height: auto;
        user-select: none;
        -webkit-user-drag: none;
    }
    .haqqinda_text{
        width: 75%;
        margin: auto
    }
    .tab-container .tabs {
        list-style: none;
        width: 100%;
        margin: auto;
        padding: 0;
        display: flex;
        border-top: 3px solid #fff;
    }


}
@media (min-width:768px){
    
    .section_3 .feature-box-detail {
        width: 90%;
        margin: auto;
        /* transform: translateY(35%); */
    }
    .section_5 .feature-box-detail{
        width: 90%;
        margin: auto;
        /* transform: translateY(35%); */
    }
    .wd-carusel__item {
          line-height: 200px;
          width: 200px !important;
          text-align: center;
          margin: 1em 0;
      }
      
}
@media screen and (max-width: 1500px) and (min-width: 1281px) {
    .strike_abs{
        /* position: absolute;
        top: 5px;
        left: 35px; */
    }
}
@media (max-width:1400px){
    
    .carousel-item-div {
        width: 100%;
        margin: 0px 40px;
        transform: translateY(20%) ;
    }
    .feature-box-detail h2 a {
        font-family: Montserrat_m;
        font-style: normal;
        font-weight: 600;
        font-size: 76px;
        line-height: 110px;
        color: #FFFFFF;
    }
    .feature-box-detail h2 span {
        font-family: Montserrat_m;
        font-style: normal;
        font-weight: 500;
        font-size: 47px;
        line-height: 68px;
        color: #FFFFFF;
    }
    .featured-header-text {
        font-family: Montserrat_r;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    .feature-box-detail{
        margin-top: 0px !important;
    }
}
@media(max-width:1366px){
    /* .xeber_basligi {
        background: #EEEEEE;
        box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.15);
        width: 30%;
        border-radius: 70px;
        margin: 15px auto;
        /* padding: 20px; */
    
    .xeber_basligi .col-12:nth-child(2) {
        padding: 10px 40px;
    }
    .section3 .feature-box-detail h2 span {
        font-family: Montserrat_b;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        /* text-align: center; */
        color: #474747;
    }
    .section4 .feature-box-detail {
        padding: 80px 0 0 0;
    }
}